@import '../../node_modules/normalize.css/normalize';

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Segoe UI', sans-serif;
  font-weight: 400;
  line-height: normal;
}

* {
  box-sizing: border-box;
}


button {
  outline: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

svg {
  pointer-events: none;
}

