@font-face {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/SegoeUI/SegoeUI-Regular.woff') format('woff');
  src: url('../fonts/SegoeUI/SegoeUI-Regular.woff2') format('woff2');
}

