.container-base {
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  background-color: red;
}

html {
  font-size: 16px;
}

@include media1440px {
  html {
    font-size: 13px;
  }
}

@include media1200px {
  html {
    font-size: 12px;
  }
}

@include media992px {
  html {
    font-size: 11px;
  }
}

@include media768px {
  html {
    font-size: 10px;
  }
}

@include media640px {
  html {
    font-size: 9px;
  }
}

@include media480px {
  html {
    font-size: 8px;
  }
}

