{
  "extends": ["airbnb/base", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "no-console": "off",
    "no-underscore-dangle": "off",
    "no-unused-vars": ["warn"],
    "no-unused-expressions": ["error", { "allowShortCircuit": true }],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "object-shorthand": ["error", "properties"],
    "func-names": ["warn", "as-needed"],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
  },
  "env": {
    "browser": true,
    "node": true
  }
}
