.materials-content {
  padding: 3rem 1rem;
}

.materials-content__title {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  text-align: center;
}

.materials-content__grid {
  display: grid;
  margin-top: 2rem;
  grid-column-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 10rem;
}

.materials-content__box {
  border: solid 2px $blue;

  &_1 {
    background: rgba($pink, 0.4);
  }

  &_2 {
    background: rgba($violet, 0.4);
  }

  &_3 {
    background: rgba($grey, 0.4);
  }
}

@include media992px {
  .materials-content__grid {
    grid-row-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 12rem 12rem;
  }
}


@include media480px {
  .materials-content__grid {
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: 10rem 10rem 10rem 10rem;
  }
}
