.materials-content
  h3.materials-content__title  Материалы
  .materials-content__grid
    .materials-content__box.materials-content__box_1
    .materials-content__box.materials-content__box_2
    .materials-content__box.materials-content__box_3
    .materials-content__box.materials-content__box_4

