header.main-header
  h2.main-header__title Добро пожаловать!
  .splide
    .splide__track
      .splide__list
        .splide__slide 
          img.main-header__img(src='img/main/pack_2.png')
        .splide__slide 
          img.main-header__img(src='img/main/pack_2.png')
        .splide__slide 
          img.main-header__img(src='img/main/pack_2.png')
    +btn('зарегистрироваться').main-header__btn