.btn {
  display: flex;
  align-items: center;
  padding: 1.1rem 2.3rem;
  border: solid 1px $violet;
  background: $grey;
  border-radius: 2.5rem;
  box-shadow: 0 2px 4px 0 rgba($grey, 0.3);

  span {
    font-size: 1.18rem;
    font-weight: 700;
    pointer-events: none;
    text-transform: uppercase;
  }

  .btn_svg {
    width: 1.7rem;
    margin-left: 1rem;

    img {
      width: 100%;
    }
  }
}

.btn:hover {
  cursor: pointer;
}
