.nav {
  padding: 1rem;
  background: rgba($grey, 0.4);
}

.nav__list {
  display: flex;
  justify-content: space-around;
  padding: 0;
  list-style: none;
}

.nav__item a {
  color: $violet;
  font-size: 1.2rem;
}

.nav__item a:hover {
  color: $pink;
  cursor: pointer;
}

